In [1]:
# import the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate, cross_val_score, StratifiedKFold
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_validate
#import warnings
#warnings.filterwarnings("ignore")

In [2]:
# import the data into datafram
path ="C:/Users/pc/Desktop/1/my project/depression prediction/"
df = pd.read_csv(path + "data.csv")

In [3]:
df.duplicated().sum()

48

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
new_col = ['age','address','schooling','stud_hr','employed','h_disab',
           'ment_cond','social_hr','fit_hr','wind','dry_mouth',
           'positive','breath_diff','initiate','tremb','worry','look_fwd',
           'down','enthus','life_mean','scared','outcome']
df.columns= new_col

In [67]:
df.outcome.unique()

array(['Low signs of despression ', 'very Low/low Signs ',
       'No signs of depression', 'Medium/High ',
       'High signs of depression '], dtype=object)

In [68]:
X = df.copy()
y = X.pop("outcome")

In [69]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 288
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          243 non-null    int64
 1   address      243 non-null    object
 2   schooling    243 non-null    object
 3   stud_hr      243 non-null    int64
 4   employed     243 non-null    object
 5   h_disab      243 non-null    object
 6   ment_cond    243 non-null    object
 7   social_hr    243 non-null    object
 8   fit_hr       243 non-null    object
 9   wind         243 non-null    int64
 10  dry_mouth    243 non-null    int64
 11  positive     243 non-null    int64
 12  breath_diff  243 non-null    int64
 13  initiate     243 non-null    int64
 14  tremb        243 non-null    int64
 15  worry        243 non-null    int64
 16  look_fwd     243 non-null    int64
 17  down         243 non-null    int64
 18  enthus       243 non-null    int64
 19  life_mean    243 non-null    int64
 20  scared       243 non-null    int64
dtypes: int64(14), object(7)
memory usage: 41.8+ KB

In [70]:
df.outcome.replace('high signs of depression ', 'High signs of depression ', inplace=True)

In [71]:
ordinal=X.select_dtypes(["int64", "float64"]).nunique()==4
for i in ordinal.index[ordinal]:
    X[i]= X[i].astype("category")

In [72]:
binary_mask=X.select_dtypes("object").nunique()==2
binary_columns=binary_mask.index[binary_mask]
nominal_columns=binary_mask.index[~binary_mask]
numerical_mask=X.select_dtypes(["int64", "float64"]).nunique()>4
numerical_columns=numerical_mask.index[numerical_mask]
category_rank_columns=X.select_dtypes("category").columns

In [73]:
transformer = [
    ("ordinal columns", OrdinalEncoder(), category_rank_columns),
    ("nominal columns", OneHotEncoder(), nominal_columns),
    ("numerical columns", StandardScaler(), numerical_columns)   
]

column_transformer = ColumnTransformer(transformer, remainder="passthrough")

In [74]:
# testing the pipeline
pd.DataFrame(column_transformer.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,1.0,2.0,1.0,0.0,2.0,1.0,1.0,2.0,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.580800,-0.730930
1,1.0,1.0,1.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.283675,-0.730930
2,3.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.283675,0.063417
3,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.310575,-1.048668
4,0.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,2.0,2.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.769300,-1.366407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,3.0,2.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.283675,-0.730930
239,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.283675,0.063417
240,2.0,2.0,3.0,0.0,2.0,2.0,2.0,1.0,2.0,2.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.607700,0.063417
241,1.0,0.0,2.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.580800,1.254937
242,3.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.877925,-0.730930

In [84]:
classfier_names = ["Decision Tree", "Randome Forrest", "Logistic CV"]
classfiers = [DecisionTreeClassifier(), RandomForestClassifier(), LogisticRegressionCV(max_iter=1000)]

In [86]:
estimator = [ Pipeline([  ("transformer", column_transformer), (classfier_name, classfier)])

             for classfier_name, classfier in zip(classfier_names, classfiers)
            ]

In [ ]:
scoring = {"acc": 'accuracy'}
training_score
cross_validate(estimator=estimator, X=X, y=y, cv =10, scoring=scoring, return_train_score=True,
    return_estimator=True)